%h1 Listing posts

= link_to 'New Post', new_post_path

#posts
  - @posts.each do |post|
    %article.post
      %header
        %time=l post.created_at
      = simple_format post.body
      %nav
        = link_to 'Show comments', post
